<div class="cart-container container-fluid">
  <h1><strong>YOUR SHOPPING CART</strong></h1>
  <div *ngIf="cartItems.length === 0">
    <p>Your cart is empty.</p>
    <a routerLink="/products">Go to Products</a>
  </div>
  <div *ngIf="cartItems.length > 0">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td class="title" (click)="viewProductDetails(item.product)">{{ item.product.title }}</td>
          <td>$ {{ item.product.price }}</td>
          <td>
            <input type="number" [value]="item.quantity" min="1" (change)="onQuantityChange($event, item.product.id)">
          </td>
          <td>$ {{ (item.product.price * item.quantity) | number:'1.2-2' }}</td>
          <td>
            <button (click)="removeItem(item.product.id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="total">
      <h3>Total: $ {{ getTotal() | number:'1.2-2' }}</h3>
      <button class="button-primary" (click)="proceedToCheckout()">Checkout</button>
    </div>
  </div>
</div>