.order-confirmation-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.order-confirmation-container h1, h3 {
  text-align: center;
  color: #1a1d6d;
  margin-bottom: 20px;
  
}

.order-confirmation-container p {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.order-confirmation-container a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.order-confirmation-container a:hover {
  text-decoration: underline;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid rgb(164, 167, 167);
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background: #f8f8f8;
  font-size: 16px;
  font-weight: bold;
}

.total {
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 10px;
}

.total h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
