<div class="checkout-container">
    <h1><strong>CHECKOUT</strong></h1>
    <hr>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" formControlName="name" type="text">
            <div *ngIf="checkoutForm.controls['name'].invalid && (checkoutForm.controls['name'].touched || submitted)" class="error">
                Name is required.
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input id="address" formControlName="address" type="text">
            <div *ngIf="checkoutForm.controls['address'].invalid && (checkoutForm.controls['address'].touched || submitted)" class="error">
                Address is required.
            </div>
        </div>
        <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input id="cardNumber" formControlName="cardNumber" type="text">
            <div *ngIf="checkoutForm.controls['cardNumber'].invalid && (checkoutForm.controls['cardNumber'].touched || submitted)" class="error">
                Card Number is required and must be 16 digits.
            </div>
        </div>
        <div class="form-group">
            <label for="expiration">Expiration date</label>
            <input id="expiration" formControlName="expiration" type="text" placeholder="MM/YY">
            <div *ngIf="checkoutForm.controls['expiration'].invalid && (checkoutForm.controls['expiration'].touched || submitted)" class="error">
                Expiration date is required.
            </div>
        </div>
        <div class="form-group">
            <label for="cvv">CVV</label>
            <input id="cvv" formControlName="cvv" type="text">
            <div *ngIf="checkoutForm.controls['cvv'].invalid && (checkoutForm.controls['cvv'].touched || submitted)" class="error">
                CVV is required and must be 3 digits.
            </div>
        </div>
        <button type="submit">Place Order</button>

    </form>

</div>